<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10">
      <div class="order-booking-map" id="orderBookingMap"></div>
    </div>
    <div class="col-lg-2">
      <div class="m-3">
        <button class="btn btn-success btn-block" (click)="addDriver()">ADD Driver</button>
      </div>
      <div class="m-3">
        <button class="btn btn-success btn-block" (click)="eta(eta_start, eta_end)">Calc ETA</button>
      </div>
      <div class="m-3">
        <button class="btn btn-success btn-block" (click)="addNear()">Add NearBy</button>
      </div>
      <div class="m-3">
        <button class="btn btn-success btn-block" (click)="nearby()">Calc Near</button>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-lg-8 m-3">
          <div class="polyLine-map" id="polyLineMap"></div>
        </div>
  </div>
</div>