<div class="container">
  <div class="row">
    <div class="order-booking-map" id="orderBookingMap"></div>
  </div>
  <div class="row">
    <div class="col-sm mt-3">
      <button class="btn btn-success" (click)="addItem()">ADD</button>
    </div>
    <div class="col-sm mt-3">
      <button class="btn btn-success" (click)="eta(eta_start, eta_end)">ETA</button>
    </div>
    <div class="col-sm mt-3">
      <button class="btn btn-success" (click)="addNear()">Add Near</button>
    </div>
    <div class="col-sm mt-3">
      <button class="btn btn-success" (click)="nearby()">Near</button>
    </div>
  </div>
</div>